body.inverted {
  background-color: #000;
  color: #fff;
}

body.inverted .sidebar p.class2 {
  transition: color 0.3s ease-in-out;
  color: #fff; }

body.inverted .sidebar p.class2:hover {
 color: #928CF6; }

body.inverted .sidebar a {
  color: #fff;
}

body.inverted .sidebar a:hover {
  color: #928CF6;
}


/* Активная ссылка голубая */
body.inverted .sidebar a.active {
  color: #928CF6;
}

/* При наведении на активную — голубой */
body.inverted .sidebar a.active:hover {
  color: #928CF6;
}